.container{
    display: grid;
    grid-template-columns: 230px 100px 130px 1fr;
    grid-template-rows: 50px 30px 120px 1fr;
}
.item{
   border: 1px solid orangered;
}
.item-1{
    grid-row: 2;
    grid-column: 3/5;
}